table.table.table-bordered.table-condensed
  thead
    tr
      th Date
      th Time
      th Venue
      th Race
      th Type
      th Places
      th Done

// Templates
script#raceinfo-template(type="text/template")
    td
      span.label <%= date %>
    td
      span.label <%=  time %>
    td
      span.label <%=  venue %>
    td
      span.badge <%=  race %>
    td
      span.badge <%=  meetingType %>
    td
      span.badge <%=  places %>
    td
      input.toggleItem(type='checkbox')


script(src='/javascripts/backbone.js', type='text/javascript')

