form.well.form-search
  label.checkbox
    input.togglePlaceTerms(type='checkbox')
    | &nbsp; Toggle Terms
table.table.table-bordered.table-condensed
  thead
    tr
      th Date
      th Time
      th Venue
      th Race
      th Type
      th Places
      th Done

// Client Side Templates
script#raceInfo-template(type="text/template")
    td
      span.label <%= date %>
    td
      span.label <%=  time %>
    td
      span.label <%=  venue %>
    td
      span.badge <%=  race %>
    td
      span.badge <%=  meetingType %>
    td
      span.badge.badge-success <%=  places %>
    td
      input.toggleItem(type='checkbox')

script(src='http://nodeninja.github.com/book/chapter03/jquery.js', type='text/javascript')
script(src='http://nodeninja.github.com/book/chapter03/underscore-min.js', type='text/javascript')
script(src='http://nodeninja.github.com/book/chapter03/backbone-min.js', type='text/javascript')
script(src='/javascripts/mybackboneapp.js', type='text/javascript')

