!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://nodeninja.github.com/book/chapter02/docs.css', rel='stylesheet')
    link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css', rel='stylesheet')    
  body!= body