<% if (everyauth.user.access == "superuser") { %>
<ul class="adminMenu">
    <li><% if (current != 'My posts') { %><a href="/admin/posts/index"> <% } else {%><span><% } %>My posts<% if (current != 'My posts') { %></a><% } else { %></span><% } %></li>    
    <li><% if (current != 'Posts') { %><a href="/admin/all_posts/"> <% } else {%><span><% } %>Posts<% if (current != 'Posts') { %></a><% } else { %></span><% } %></li>
    <li><% if (current != 'Tags') { %><a href="/admin/tags/"> <% } else {%><span><% } %>Tags<% if (current != 'Tags') { %></a><% } else { %></span><% } %></li>
    <li><% if (current != 'Comments') { %><a href="/admin/comments/"> <% } else {%><span><% } %>Comments<% if (current != 'Comments') { %></a><% } else { %></span><% } %></li>
    <li><% if (current != 'Users') { %><a href="/admin/users/"> <% } else {%><span><% } %>Users<% if (current != 'Users') { %></a><% } else { %></span><% } %></li>
</ul>
<% } %>