
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
        <title>Administration</title>		
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="/stylesheets/style.css" media="screen" type="text/css" rel="stylesheet">
        <link href="/static/images/favicon.png" type="image/png" rel="shortcut icon">
       	<script type="text/javascript" src="/classpath/jquery.js" id="jquery"></script>
    	<script type="text/javascript" src="/classpath/json.js" id="json"></script>
        <script src="/static/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/tagselector.js"></script>
        <style type="text/css">
            #logo a {
                color:#fff;
            }
        </style>
    
	
</head>
<body id="admin">
        <div id="header">
            <div id="logo">
                <a href="/index">yabe.</a> <span>administration</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        
        <div id="main">
            <ul class="adminMenu"><li> <a href="/admin/posts/">My posts</a></li><li> <a href="/admin/all_posts/">Posts</a></li><li> <a href="/admin/tags/">Tags</a></li><li> <span>Comments</span></li><li> <a href="/admin/users/">Users</a></li></ul>
            <div>
	<div id="crud">
		<div id="crudContent">
			<div class="Comments" id="crudList">
				<h2 id="crudListTitle">Comments</h2>
				<div style="background-color:#314660; border:0px;" id="crudListSearch">
					<form action="/admin/comments/" method="post">
						<input name="F154557648524WCOBJZ" type="text" value=""> 
						<input value="Search" type="submit"> 
					</form>
				</div>

				<div id="crudListTable">
					<table>
						<thead>
							<tr>
								<th width="33.3333333333%"><a class="crudSortedAsc" href="/admin/comments/index?order=DESC&F154557648525RLJ1B3=_"><span>Content</span></a></th>
								<th width="33.3333333333%">
										Related post </th>
								<th width="33.3333333333%">
										Author </th>
							</tr>
						</thead>
						<tbody><tr class="odd">
							<td><a href="/admin/comments/edit/89"> ,,,,, </a></td>
							<td><span class="post-title">w3qweef</span></td>
							<td><span class="comment-author">mmm</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/90"> ,,,,, </a></td>
							<td><span class="post-title">w3qweef</span></td>
							<td><span class="comment-author">mmm</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/168"> 123 </a></td>
							<td><span class="post-title">test2</span></td>
							<td><span class="comment-author">tv</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/171"> Comet Test </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">Bin Laden</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/165"> Demo message </a></td>
							<td><span class="post-title">Hello, I am  a spam bot</span></td>
							<td><span class="comment-author">IamI</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/191"> Foo bar baz </a></td>
							<td><span class="post-title">Hallo</span></td>
							<td><span class="comment-author">Foo</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/152"> Good 888 </a></td>
							<td><span class="post-title">Hi</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/170"> I don't have anything interesting to share with. </a></td>
							<td><span class="post-title">yabe-lift 完成了！！</span></td>
							<td><span class="comment-author">owca</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/164"> s
Detail:

testtext
... </a></td>
							<td><span class="post-title">Just a test</span></td>
							<td><span class="comment-author">testname</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/197"> Lindo blog </a></td>
							<td><span class="post-title">nice title</span></td>
							<td><span class="comment-author">Armando</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/53"> Message ...
 </a></td>
							<td><span class="post-title">This is the post title asdfasdf</span></td>
							<td><span class="comment-author">charlie</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/14"> SDSJLSD </a></td>
							<td><span class="post-title">only test</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/182"> See how fast it is </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">hex</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/43"> Test </a></td>
							<td><span class="post-title">Lift </span></td>
							<td><span class="comment-author">Comet Test</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/57"> Testing </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">Ariel</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/189"> Testing commet </a></td>
							<td><span class="post-title">Hallo</span></td>
							<td><span class="comment-author">HC</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/187"> This is a really great thread! </a></td>
							<td><span class="post-title">yet another post</span></td>
							<td><span class="comment-author">Freedom</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/52"> This is my comment </a></td>
							<td><span class="post-title">this the tile of the post</span></td>
							<td><span class="comment-author">charlie</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/86"> t by clicking on the commends number instead of the post title.... </a></td>
							<td><span class="post-title">Why Yabe</span></td>
							<td><span class="comment-author">Charles Xavier</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/87"> a test </a></td>
							<td><span class="post-title">Why Yabe</span></td>
							<td><span class="comment-author">tester</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/153"> abc </a></td>
							<td><span class="post-title">bla bla</span></td>
							<td><span class="comment-author">abc</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/183"> adfafa </a></td>
							<td><span class="post-title">tset</span></td>
							<td><span class="comment-author">afadf</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/160"> alert('howdy');

k jkh kj  </a></td>
							<td><span class="post-title">fuuuu</span></td>
							<td><span class="comment-author">buh</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/33"> bbbb </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">aaa</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/188"> blah </a></td>
							<td><span class="post-title">a very new post</span></td>
							<td><span class="comment-author">bleh</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/17"> c1111111111111111 </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">c11111111111</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/18"> c1111111111111111 </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">c11111111111</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/19"> c1111111111111111 </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">c11111111111</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/20"> c1111111111111111 </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">c11111111111</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/198"> come test </a></td>
							<td><span class="post-title">nice title</span></td>
							<td><span class="comment-author">don</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/190"> comet </a></td>
							<td><span class="post-title">a very new post</span></td>
							<td><span class="comment-author">comet</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/199"> comm </a></td>
							<td><span class="post-title">dd</span></td>
							<td><span class="comment-author">Don</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/180"> dfsdfasdfadasdf </a></td>
							<td><span class="post-title">Mumus</span></td>
							<td><span class="comment-author">fssfgsdfg</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/163"> dicky </a></td>
							<td><span class="post-title">testing</span></td>
							<td><span class="comment-author">Dicky</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/26"> fdafaf </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gdafafa</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/27"> fdafaf </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gdafafa</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/119"> fdsfds </a></td>
							<td><span class="post-title">Yet another blog engine</span></td>
							<td><span class="comment-author">fdsfds</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/37"> fdsfs </a></td>
							<td><span class="post-title">yabe-lift 完成了！！</span></td>
							<td><span class="comment-author">dsfds</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/154"> fdsfs </a></td>
							<td><span class="post-title">Hi</span></td>
							<td><span class="comment-author">fdsfsd</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/155"> fdsfs </a></td>
							<td><span class="post-title">Hi</span></td>
							<td><span class="comment-author">fdsf</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/21"> fdsfsfd </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">fdsf</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/157"> fsafdasfd </a></td>
							<td><span class="post-title">english now</span></td>
							<td><span class="comment-author">sdfsa</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/179"> fsdfds </a></td>
							<td><span class="post-title">Mumus</span></td>
							<td><span class="comment-author">dfsfd</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/22"> fwefwefwefwf </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">fewfwe</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/23"> fwefwefwefwf </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">fewfwe</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/3"> fwefwefwfw </a></td>
							<td><span class="post-title">english now</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/31"> gewgwg </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewg</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/32"> gewgwg </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewg</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/28"> gwegwegwegwgwgw </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewgwgw</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/29"> gwegwegwegwgwgw </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewgwgw</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/30"> gwegwegwegwgwgw </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewgwgw</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/24"> gwgwegwgwgwgwgg </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewgwgw</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/25"> gwgwegwgwgwgwgg </a></td>
							<td><span class="post-title">repeat</span></td>
							<td><span class="comment-author">gewgewgwgw</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/88"> hehehe </a></td>
							<td><span class="post-title">w3qweef</span></td>
							<td><span class="comment-author">heheh</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/38"> hello </a></td>
							<td><span class="post-title">nasgul</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/156"> hello </a></td>
							<td><span class="post-title">What up!</span></td>
							<td><span class="comment-author">raj</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/118"> hello hello </a></td>
							<td><span class="post-title">Yet another blog engine</span></td>
							<td><span class="comment-author">hello</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/172"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/173"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/174"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/175"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/176"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/177"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/178"> it's quick </a></td>
							<td><span class="post-title">Yabe is cool</span></td>
							<td><span class="comment-author">wow</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/58"> k;fk;skfl;skl;fk;s </a></td>
							<td><span class="post-title">Super post</span></td>
							<td><span class="comment-author">f;akf;s</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/5"> let me run </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">fds</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/186"> really? </a></td>
							<td><span class="post-title">yet another post</span></td>
							<td><span class="comment-author">hehe</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/161"> sdfsdf </a></td>
							<td><span class="post-title">k;lkl;k</span></td>
							<td><span class="comment-author">dsfsf</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/44"> shi di !!! </a></td>
							<td><span class="post-title">only test</span></td>
							<td><span class="comment-author">shi jie</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/1"> test </a></td>
							<td><span class="post-title">english now</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/162"> test </a></td>
							<td><span class="post-title">testing</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/181"> test </a></td>
							<td><span class="post-title">Mumus</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/200"> test </a></td>
							<td><span class="post-title">my</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/201"> test </a></td>
							<td><span class="post-title">my</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/36"> test comet </a></td>
							<td><span class="post-title">yabe-lift 完成了！！</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/167"> test message </a></td>
							<td><span class="post-title">tiger uppercut</span></td>
							<td><span class="comment-author">tv</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/192"> test test </a></td>
							<td><span class="post-title">Hallo</span></td>
							<td><span class="comment-author">test</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/2"> test2 </a></td>
							<td><span class="post-title">english now</span></td>
							<td><span class="comment-author">test2</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/158"> this is a test then
 </a></td>
							<td><span class="post-title">Post Title</span></td>
							<td><span class="comment-author">buh</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/169"> tv </a></td>
							<td><span class="post-title">test2</span></td>
							<td><span class="comment-author">123</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/159"> whaa? </a></td>
							<td><span class="post-title">Post Title</span></td>
							<td><span class="comment-author">guh</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/56"> ñloi </a></td>
							<td><span class="post-title">ts</span></td>
							<td><span class="comment-author">kk</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/196"> Тест тсеТ </a></td>
							<td><span class="post-title">Hallo</span></td>
							<td><span class="comment-author">Злой Злодей</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/42"> 作者在这里.. </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">陈申</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/12"> 呵呵
 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/166"> 哈哈哈哈 </a></td>
							<td><span class="post-title">tiger uppercut</span></td>
							<td><span class="comment-author">哈哈哈</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/47"> 哈哈，看见了吧？？？ </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">师弟</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/54"> 啦啦啦~\(≧▽≦)/~啦啦啦 </a></td>
							<td><span class="post-title">lalala</span></td>
							<td><span class="comment-author">師姐</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/13"> 好的 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/49"> 师姐回个话呗 </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">师弟</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/46"> 师姐！！！ </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">師弟</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/45"> 師弟！！！ </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">師姐</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/50"> 有意思吧？ </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">师弟</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/51"> 有意思有意思。。。 </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">師姐</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/15"> 点喘不过气？！。 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/41"> 用多少时间完成 </a></td>
							<td><span class="post-title">yabe-lift 完成了！！</span></td>
							<td><span class="comment-author">haha</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/6"> 看不到其它人啊 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">sd</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/48"> 看見了！！！ </a></td>
							<td><span class="post-title">给力</span></td>
							<td><span class="comment-author">師姐</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/11"> 睇到你啦！ </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">廖师虎</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/35"> 自己评论一个先 </a></td>
							<td><span class="post-title">yabe-lift 完成了！！</span></td>
							<td><span class="comment-author">Charlie Chen</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/7"> 陈申的评论 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/8"> 陈申的评论 2 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="odd">
							<td><a href="/admin/comments/edit/9"> 陈申的评论 3 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr><tr class="even">
							<td><a href="/admin/comments/edit/10"> 陈申的评论 4 </a></td>
							<td><span class="post-title">test for AFL</span></td>
							<td><span class="comment-author">guest</span></td>
						</tr>
					</tbody></table>
				</div>

				<div style="background-color:#314660; border:0px;" id="crudListPagination">
					<p class="crudCount">104 Comments</p>
				</div>

			</div>
		</div>
	</div>
</div>         
        </div>
        
        <p id="footer">
            Yabe is a (not so) powerful blog engine built with the 
            <a href="http://liftweb.net/">liftweb framework</a>
            as a tutorial application.
        </p>
        
    

<script type="text/javascript" src="/ajax_request/liftAjax.js"></script>

	
<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function() {liftAjax.lift_successRegisterGC();});
var lift_page = "F154557648523GI42FE";
// ]]>
</script></body>
</html>  
  