<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src="/javascripts/jquery.js" id="jquery"></script>
    <script type="text/javascript" src="/javascripts/lib.js" id="jquery"></script>
</head>
<body>
<div id="header">
    <div id="logo">yabenode</div>
    <ul id="tools">
        <li><a href="/login">Log in to write something</a></li>
    </ul>
</div>
<div id="title">
    <span class="about">
        About this blog
    </span>

    <h1><a href="/">Yet another blog</a></h1>

    <h2>We will write about nothing</h2>
</div>