<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
</head>
<body>
<div id="header">
    <div id="logo">yabe</div>
    <ul id="tools">
        <li><a href="#">Log in to write something</a></li>
    </ul>
</div>
<div id="title">
    <span class="about">
        About this blog
    </span>

    <h1><a href="/">Yet another blog</a></h1>

    <h2>We will write about nothing</h2>
</div>
<div id="content">
<%- partial('post.ejs', {}) %>
</div>
<p id="footer">
    Powered by yabe-node<br />
    Yabe is a (not so) powerful blog engine built with the
    <a href="">Node.js</a> as a tutorial application
</p>
</body>
</html>