<%- partial('header.ejs', {}) %>
<div id="content">
<div class="post">
    <h2 class="post-title">
        <a class="post-title-link" href="/read/181">Fun</a>
    </h2>

    <div class="post-metadata">
        <span class="post-author">by Normal Demo</span>,
            <span class="post-date">
        		2012-04-28
            </span>
        <span class="post-comments"> | 0 comments </span>
    </div>
    <div class="post-content">
        <div class="about">Detail:</div>
			<span id="post-content-span"> <p>This is fun</p>
 </span>
    </div>
</div>


<div class="older-posts">
    <h3>
        Older posts <span class="from">from this blog</span>
    </h3>

    <div class="post teaser">
        <h2 class="post-title">
            <a href="/read/180" class="post-title-link">Don </a>
        </h2>

        <div class="post-metadata">
            <span class="post-author">by Normal Demo</span>,
                <span class="post-date">
                    2012-04-27
                </span>
            <span class="post-comments"> | 0 comments </span>
        </div>
    </div>
    <div class="post teaser">
        <h2 class="post-title">
            <a href="/read/179" class="post-title-link">normal</a>
        </h2>

        <div class="post-metadata">
            <span class="post-author">by Normal Demo</span>,
                <span class="post-date">
                    2012-04-27
                </span>
            <span class="post-comments"> | 0 comments </span>
        </div>
    </div>
</div>
</div>
<%- partial('footer.ejs', {}) %>