<%- partial('read.ejs', {}) %>
<div class="post">
        <h2 class="post-title">
            <a href="/read/1">title</a>
        </h2>

        <div class="post-metadata">
            <span class="post-author">by Don Nguyen</span>
            <span class="post-date">2011-08-02</span>
            <span class="post-comments">0 comments</span>
        </div>
        <div class="post-content">
            <div class="about">Detail:</div>
            <span id="post-comments">content</span>
        </div>
    </div>
    <div class="older-posts">
        <h3>
            Older posts <span class="from">from this blog</span>
        </h3>

        <div class="post teaser">
            <h2 class="post-title">
                <a class="post-title-link" href="">older post title</a>
            </h2>
        </div>
        <div class="post-metadata">
            <span class="post-author">by Don Nguyen</span>
            <span class="post-date">2011-08-02</span>
            <span class="post-comments">0 comments</span>
        </div>
    </div>