!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Lorem Ipsum
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css', rel='stylesheet')
    link(href='http://nodeninja.github.com/book/chapter02/docs.css', rel='stylesheet')
    script(src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')
  body
    .container
      .marketing
        h1 Lorem Ipsum Quia Dolor
        p.marketing-byline Neque porro quisquam est qui dolorem ipsum
        .row.offset2
          .span4
            img.bs-icon(src='http://twitter.github.com/bootstrap/assets/img/glyphicons/glyphicons_079_podium.png')
            h2 Totam Rem Aperian
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              | aliquip ex ea commodo consequat.
          .span4
            img.bs-icon(src='http://twitter.github.com/bootstrap/assets/img/glyphicons/glyphicons_266_book_open.png')
            h2 Quis Autem Vel
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Finibus Bonorum et Maloru.
      header.jumbotron.masthead
        .inner
          p.download-info
            a.btn.btn-large(data-toggle='modal', href='#')
              | Log
              | In
            a.btn.btn-primary.btn-large(data-toggle='modal', href='#') Sign Up